<div class="center jumbotron">
    <h1>Las Recetas</h1>
    <h2>El tutorial de Ruby rocks</h2>
    <%= link_to "Registrate", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            Ver recetas
        </h3>    
        <h2 class="left">Ver recetas y registrarse luego</h2>
        <p><%= link_to "Explorar Lista de Recetas", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
      <div class="col-lg-4">
        <h3 class="midrow">
            Ver recetas
        </h3>    
        <h2 class="left">Ver recetas y registrarse luego</h2>
        <p><%= link_to "Explorar Lista de Recetas", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
      <div class="col-lg-4">
        <h3 class="midrow">
            Ver recetas
        </h3>    
        <h2 class="left">Ver recetas y registrarse luego</h2>
        <p><%= link_to "Explorar Lista de Recetas", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
</div>